@use '../custom' as *;

.btn-header{
    // orden bg, border, color-texto, hover-bg, hover-border, hover-color
    @include button-variant($primary, transparent, $secondary, darken($primary, 10%), transparent, darken($secondary, 10%));
    // orden py, px, font-size, border-radius
    @include button-size(1rem, 5rem, 2rem, 0);
    font-weight: 700;
    text-decoration: none;
    display:block;
    text-align: center;
    margin-top: 1rem;

    @include media-breakpoint-up(md){
        display: inline-block;
    }

}