@use "../custom" as *;

@mixin bgImage($url, $colorDegradado){
    background-image: linear-gradient(to bottom, $colorDegradado 0%, $colorDegradado 100%), url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@mixin headingBorder($colorTexto, $colorLinea){
    display: inline-block;
    margin-top: 5rem;
    color: $colorTexto;
    @include media-breakpoint-up(md){
        margin-top: 0;
    }
    &::after{
        content: '';
        background-color: $colorLinea;
        height: 1rem;
        width: calc(100% + 1rem);
        display: block;
        margin-top: -1.4rem;
    }
}

@mixin bg-icono($urlImagen){
    background-image: url($urlImagen);
    background-size: 10rem;
    background-position: 50% 2rem;
    background-repeat: no-repeat;
}
