@mixin bgImage($url, $colorDegradado){
    background-image: linear-gradient(to bottom, $colorDegradado 0%, $colorDegradado 100%), url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
