@use "../custom" as *;
@use "base/mixins" as m;

.beneficios{
    h2{
        @include m.headingBorder($secondary, $white);
    }

    .imagen{
        @include media-breakpoint-up(lg){
            @include transition(transform .3s ease);
            &:hover{
                transform: scale(1.1) rotate(10deg);
            }
        }
     
    }
}