@use "../custom" as *;
@use "base/mixins" as m;

.site-header{
    @include m.bgImage('../img/header.jpg', transparentize($secondary, .3));

    .logo{
        max-width: 20rem;
        margin: 0 auto;
        @include media-breakpoint-up(lg){
            margin: 0;
        }
    }

    .contenido{
        padding-top: 10rem;
        padding-bottom: 10rem;

        @include media-breakpoint-up(md){
            max-width: 100%;
        }

        @include media-breakpoint-up(lg){
            padding-top: 15rem;
            padding-bottom: 15rem;
            max-width: 40%;
        }
        h1{
            font-size: 4.5rem;
            color: $white;
            @include media-breakpoint-up(md){
                font-size: 6rem;
            }
        }
    }
}