@use "../custom" as *;
@use "base/mixins" as m;

.testimoniales{
    h2{
        @include m.headingBorder($secondary, $primary);
    }
}

.testimonial{
    border: .5rem solid $secondary;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding: 2rem 2rem 2rem 6.5rem;
    position: relative;

    &:before{
        content: '';
        background-image: url(../img/comilla.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 4rem;
        height: 5rem;
        width: 5rem;
        display: block;
        position:absolute;
        top: 1.5rem;
        left: 1rem;
    }
}