// Paleta de colores
$verde: #84D98C;
$gris: #313C4E;

// reescritura de colores
$primary: $verde;
$secondary: $gris;

// reescritura de los headings
$headings-font-family: 'Poppins', sans-serif;
$headings-font-weight: 700;
$font-family-sans-serif: 'Poppins', sans-serif;
$h1-font-size: 4.5rem;
$h2-font-size: 3.6rem;
$h3-font-size: 3rem;

// ajustamos los REM
$font-size-root: 62.5%;
$font-size-base: 2rem;

// espaciado
$spacer: 5rem;

// importar todo bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

